* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.App {
  display: flex;
  height: 100vh;
  background-size: 100% 100%;
}

.Left {
  width: 60%;
  width: 100%;
  height: 100%;
}
.btn {
  height: 30px;
  width: 60px;
}
.input {
  margin: 20px 10px;
  width: 100%;
  height: 10%;
}
input[type="text"] {
  margin: auto;
  width: 80%;
  height: 100%;
}
input[type="submit"] {
  margin: auto;
  width: 20%;
  height: 100%;
}

.Right {
  width: 38%;
  background: #232323;
  margin:1%;
  opacity: 0.9;
  border-radius: 15px;
}
.left-bottom {
    border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  position: absolute;
  background-color:  #232323;
  opacity: 0.9;
  bottom: 10%;
  height: 200px;
  margin: 0px 10%;
  width: 50%;
}
.temp {
  margin: auto;
  font-size: 60px;
  width: 20%;
}
.city-time {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 20%;
}
.city {
  font-size: 30px;
}
.icon-desc {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.desc {
}
.icon {
  width: 50px;
  height: 50px;
  margin: auto;
}
.weather-form {
  height: auto;
  border-radius: 12px;
  width: 80%;
  margin: auto;
  color: white;
  overflow-y: scroll;
}
.weather-detail {
  height: 50%;
  width: 80%;
  color: white;
  overflow-y: scroll;
}
.weather_detail_header {
  text-align: center;
  letter-spacing: 2px;
  margin: 30px 0;
}
.weather_detail_data {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.left-top{
    width: 100%;
    display: flex;
    text-align: center;
}
.left-top> div{
    border-radius: 15px;
    margin:20px auto;
    padding:20px;
    color: white;
    background-color: #232323;
    opacity: 0.9;
    width:24% ;
    text-align: center;
}
@media only screen and (max-width: 1100px) {
  .App {
    flex-direction: column-reverse;
  }
  .Right {
    width: 100%;
  }
  .Left {
    width: 100%;
  }
  .left-bottom {
    width: 80%;
  }
}
